<?xml version="1.0" encoding="UTF-8"?>
<sdf version='1.6'>

  {% import "component_snippets.sdf.jinja" as components %}

  {# ================================================================== #}
  {# ||                    parameters definition                     || #}
  {# ================================================================== #}

  {# Robot parameters and arguments {--> #}
  {%- set mass = 2.352 -%} {# [kg] #}
  {%- set body_width = 0.41 -%} {# [m] #}
  {%- set body_length = 0.41 -%} {# [m] #}
  {%- set body_height = 0.11 -%} {# [m] #}
  {%- set mass_prop = 0.012 -%} {# [kg] #}
  {%- set radius_rotor = 0.09525 -%} {# [m] #}

  {%- set body_cog_x = 0.012961 -%} {# [m] #}
  {%- set body_cog_y = -0.000153 -%} {# [m] #}
  {%- set body_cog_z = 0.040918 -%} {# [m] #}

  {%- set motor_mesh_z_offset = -0.0196 -%} {# [m] #}
  {%- set rotor_x_offset = 0.091013 -%} {# [m] #}
  {%- set rotor_x_offset_front = 0.121119 -%} {# [m] #}
  {%- set rotor_y_offset = 0.106066 -%} {# [m] #}
  {%- set rotor_z_offset = -0.006 -%} {# [m] #}
  {%- set prop_z_offset = -0.04 -%} {# [m] #}

  {%- set root = 'base_link' -%}
  {# <!--}--> #}

  {# Visual poses {--> #}
  {%- set chassi_x = 0 -%} {# [m] #}
  {%- set chassi_y = 0 -%} {# [m] #}
  {%- set chassi_z = 0 -%} {# [m] #}
  {%- set chassi_roll = 0 -%} {# [deg] #}
  {%- set chassi_pitch = 0 -%} {# [deg] #}
  {%- set chassi_yaw = 90 -%} {# [deg] #}

  {%- set battery_x = -0.052 -%} {# [m] #}
  {%- set battery_y = 0.0 -%} {# [m] #}
  {%- set battery_z = 0.0 -%} {# [m] #}
  {%- set battery_roll = 0 -%} {# [deg] #}
  {%- set battery_pitch = 0 -%} {# [deg] #}
  {%- set battery_yaw = 180 -%} {# [deg] #}

  {%- set livox_box_x = 0.06697 -%} {# [m] #}
  {%- set livox_box_y = 0.04336 -%} {# [m] #}
  {%- set livox_box_z = 0.0386 -%} {# [m] #}
  {%- set livox_box_yaw = 180 -%} {# [deg] #}
  {%- set livox_dome_x = 0.02994 -%} {# [m] #}
  {%- set livox_dome_y = 0.00133 -%} {# [m] #}
  {%- set livox_dome_z = 0.08 -%} {# [m] #}
  {%- set livox_dome_yaw = 270 -%} {# [deg] #}
  {%- set livox_sensor_x = 0.03 -%} {# [m] #}
  {%- set livox_sensor_y = 0.0 -%} {# [m] #}
  {%- set livox_sensor_z = 0.065 -%} {# [m] #}

  {%- set camera_x = 0.11 -%} {# [m] #}
  {%- set camera_y = 0 -%} {# [m] #}
  {%- set camera_z = 0.04 -%} {# [m] #}
  {%- set vio_x = 0.1324 -%} {# [m] #}
  {%- set vio_y = 0 -%} {# [m] #}
  {%- set vio_z = 0.04 -%} {# [m] #}

  {%- set motor_visual_x = rotor_x_offset_front -%} {# [m] #}
  {%- set motor_visual_x_back = rotor_x_offset -%} {# [m] #}
  {%- set motor_visual_y = rotor_y_offset -%} {# [m] #}
  {%- set motor_visual_z = rotor_z_offset -%} {# [m] #}
  {# <!--}--> #}

  {# Motor constants {--> #}
  {# --- Motor and Aerodynamic Constants --- #}
  {%- set rotor_velocity_slowdown_sim = 1.0 -%}
  {%- set motor_quadratic_a = 0.257592 -%}
  {%- set motor_quadratic_b = -0.134246 -%}
  {%- set motor_constant = 7.852747e-06 -%} {# [kg.m/s^2] #}
  {%- set moment_constant = 0.012817 -%} {# [m] #}
  {%- set time_constant_up = 1.0 / 80.0 -%} {# [s] #}
  {%- set time_constant_down = 1.0 / 40.0 -%} {# [s] #}
  {%- set max_rot_velocity = 1516.03 -%} {# [rad/s] #}
  {%- set rotor_drag_coefficient = 8.06428e-06 -%}
  {%- set rolling_moment_coefficient = "1.0e-6" -%}

  {# --- BEM Model Constants --- #}
  {%- set use_bem_model = false -%}
  {%- set bem_rho = 1.225 -%} {# [kg/m^3] Air density #}
  {%- set prop_diameter_inches = 7.5 -%} {# [in] #}
  {%- set prop_pitch_inches = 4.6 -%} {# [in] #}
  {%- set prop_chord_m = 0.033 -%} {# [m] #}
  {%- set prop_qty_blades = 2 -%}
  {%- set bem_alpha = 2.8481 -%}
  {%- set bem_cd0 = 0.0500 -%}
  {# <!--}--> #}

  {# Scales {--> #}
  {%- set mesh_scale = '1 1 1' -%}
  {%- set mesh_scale_prop_ccw = '0.01 0.01 0.01' -%}
  {%- set mesh_scale_prop_cw = '-0.01 0.01 0.01' -%}
  {%- set mesh_scale_cm = '0.01 0.01 0.01' -%}
  {# <!--}--> #}

  {# Meshes {--> #}

  {# Frame parts {--> #}
  {%- set board_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/chassi_lr7pro_lowpoly.obj' -%}
  {%- set livox_box_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/Caixa_up_livox.obj' -%}
  {%- set livox_dome_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/Dome_livox.obj' -%}
  {# <!--}--> #}

  {# Motors and props {--> #}
  {%- set motor_top_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/top_motor.obj' -%}
  {%- set prop_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/propeller_centered_lowpoly.obj' -%}
  {# <!--}--> #}

  {# Mounts {--> #}
  {%- set battery_mesh_file = 'model://laser_uavs_description/meshes/lr7pro/battery_4s.obj' -%}
  {# <!--}--> #}

  {# <!--}--> #}

  {# Inertias {--> #}
  {%- set body_ixx = 0.017862 -%}
  {%- set body_ixy = 0 -%}
  {%- set body_ixz = 0 -%}
  {%- set body_iyy = 0.021412 -%}
  {%- set body_iyz = 0 -%}
  {%- set body_izz = 0.032660 -%}

  {%- set prop_ixx = 0.00002 -%}
  {%- set prop_ixy = 0 -%}
  {%- set prop_ixz = 0 -%}
  {%- set prop_iyy = 0.00002 -%}
  {%- set prop_iyz = 0 -%}
  {%- set prop_izz = 0.00002 -%}
  {# <!--}--> #}

  <model name="{{  model_name  }}">
    <link name="{{  root  }}">
      <!-- Body physics {-->
      <pose>0 0 0 0 0 0 </pose>
      <inertial>
        <pose>{{ body_cog_x }} {{ body_cog_y }} {{ body_cog_z }} 0 0 0</pose>
        <mass>{{ mass }}</mass>
        <inertia>
          <ixx>{{ body_ixx }}</ixx>
          <ixy>{{ body_ixy }}</ixy>
          <ixz>{{ body_ixz }}</ixz>
          <iyy>{{ body_iyy }}</iyy>
          <iyz>{{ body_iyz }}</iyz>
          <izz>{{ body_izz }}</izz>
        </inertia>
      </inertial>
      <gravity>true</gravity>
      <collision name="base_link_collision">
        <pose> 0 0 0 0 0 0</pose>
        <geometry>
          <box>
            <size>{{ body_width }} {{ body_length }} {{ body_height }}</size>
          </box>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.001</min_depth>
              <max_vel>0.0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>

      <plugin filename="libgazebo_multirotor_base_plugin.so" name="multirotor_base_plugin">
        <robotNamespace/>
        <linkName>base_link</linkName>
        <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
      </plugin>
      <!--}-->

      <!-- Body visuals {-->

      <!-- Chassis {-->
      {{ components.visual_mesh_textured_macro(
        name = 'top_board',
        mesh_file = board_mesh_file,
        mesh_scale = mesh_scale_cm,
        x = chassi_x,
        y = chassi_y,
        z = chassi_z,
        roll = components.rad(chassi_roll),
        pitch = components.rad(chassi_pitch),
        yaw = components.rad(chassi_yaw))
      }}
      <!--}-->

      <!-- Battery {-->
      {{ components.visual_mesh_textured_macro(
        name = 'battery',
        mesh_file = battery_mesh_file,
        mesh_scale = mesh_scale_cm,
        x = battery_x,
        y = battery_y,
        z = battery_z,
        roll = components.rad(battery_roll),
        pitch = components.rad(battery_pitch),
        yaw = components.rad(battery_yaw))
      }}
      <!--}-->

      <!-- Livox mount {-->
      {% if enable_livox %}
      {{ components.visual_mesh_textured_macro(
        name = 'livox_box',
        mesh_file = livox_box_mesh_file,
        mesh_scale = mesh_scale_cm,
        x = livox_box_x,
        y = livox_box_y,
        z = livox_box_z,
        roll = 0,
        pitch = 0,
        yaw = components.rad(livox_box_yaw))
      }}
      {{ components.visual_mesh_textured_macro(
        name = 'livox_dome',
        mesh_file = livox_dome_mesh_file,
        mesh_scale = mesh_scale_cm,
        x = livox_dome_x,
        y = livox_dome_y,
        z = livox_dome_z,
        roll = 0,
        pitch = 0,
        yaw = components.rad(livox_dome_yaw))
      }}
      {% endif %}
      <!--}-->

      <!-- Motors {-->
      {%- set motor_offsets = [
        {'name': 'front_right', 'x': motor_visual_x,       'y': -motor_visual_y},
        {'name': 'front_left',  'x': motor_visual_x,       'y': motor_visual_y},
        {'name': 'back_left',   'x': -motor_visual_x_back, 'y': motor_visual_y},
        {'name': 'back_right',  'x': -motor_visual_x_back, 'y': -motor_visual_y}
      ] -%}

      {% for m in motor_offsets %}
      {{ components.visual_mesh_textured_macro(
        name = 'motor_top_' + m.name,
        mesh_file = motor_top_mesh_file,
        mesh_scale = mesh_scale_cm,
        x = m.x,
        y = m.y,
        z = motor_visual_z,
        roll = components.rad(180),
        pitch = 0,
        yaw = 0)
      }}
      {% endfor %}
      <!--}-->

      <!--}-->
    </link>

{# Propellers {--> #}
    {%- set prop_list = [
    {
    'motor_number': 0,
    'direction': 'ccw',
    'x': rotor_x_offset_front,
    'y': -rotor_y_offset,
    'z': prop_z_offset,
    'mesh_files': [prop_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 1,
    'direction': 'ccw',
    'x': -rotor_x_offset,
    'y': rotor_y_offset,
    'z': prop_z_offset,
    'mesh_files': [prop_mesh_file],
    'mesh_scale': mesh_scale_prop_ccw,
    'color': 'Grey'
    },
    {
    'motor_number': 2,
    'direction': 'cw',
    'x': rotor_x_offset_front,
    'y': rotor_y_offset,
    'z': prop_z_offset,
    'mesh_files': [prop_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    },
    {
    'motor_number': 3,
    'direction': 'cw',
    'x': -rotor_x_offset,
    'y': -rotor_y_offset,
    'z': prop_z_offset,
    'mesh_files': [prop_mesh_file],
    'mesh_scale': mesh_scale_prop_cw,
    'color': 'Grey'
    }
    ]
    -%}
    {{ components.propellers_macro(
      prop_list = prop_list,
      rotor_velocity_slowdown_sim = rotor_velocity_slowdown_sim,
      motor_quadratic_a = motor_quadratic_a,
      motor_quadratic_b = motor_quadratic_b,
      motor_constant = motor_constant,
      moment_constant = moment_constant,
      parent = root,
      mass = mass_prop,
      radius = radius_rotor,
      time_constant_up = time_constant_up,
      time_constant_down = time_constant_down,
      max_rot_velocity = max_rot_velocity,
      rotor_drag_coefficient = rotor_drag_coefficient,
      rolling_moment_coefficient = rolling_moment_coefficient,
      meshes_z_offset = motor_mesh_z_offset,
      prop_ixx = prop_ixx,
      prop_ixy = prop_ixy,
      prop_ixz = prop_ixz,
      prop_iyy = prop_iyy,
      prop_iyz = prop_iyz,
      prop_izz = prop_izz,
      use_bem_model = false,
      bem_rho = 0.0,
      prop_diameter_inches = 0.0,
      prop_pitch_inches = 0.0,
      prop_chord_m = 0.0,
      prop_qty_blades = 0,
      bem_alpha = 0.0,
      bem_cd0 = 0.0)
    }}
    {# <!--}--> #}

    {# ================================================================== #}
    {# ||                compulsory sensor definitions                 || #}
    {# ================================================================== #}

    <!-- Flight Controller {-->
    {%- set imu_topic = '/imu' -%}
    {%- set mag_topic = '/mag' -%}
    {%- set baro_topic = '/baro' -%}
    {%- set lidar_topic = '/lidar' -%}

    <!-- Gazebo ground truth {-->
    {{ components.gazebo_groundtruth_macro(
      home_latitude = 0,
      home_longitude = 0,
      home_altitude = 0)
    }}
    <!--}-->

    <!-- GPS {-->
    {{ components.gazebo_gps_macro(
      gps_name = 'gps0',
      parent_link = root,
      update_rate = 10,
      gps_noise = true,
      gps_xy_random_walk = 50.0,
      gps_z_random_walk = 100.0,
      gps_xy_noise_density = '1.5e-2',
      gps_z_noise_density = '3.0e-2',
      gps_vxy_noise_density = 0.5,
      gps_vz_noise_density = 1.0,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->

    <!-- Garmin {-->
    {% if enable_garmin %}
    {{ components.gazebo_garmin_macro(
      garmin_name = 'lidar0',
      parent_link = root,
      update_rate = 100,
      lidar_topic = lidar_topic,
      x = -0.09,
      y = 0,
      z = 0.04,
      yaw = 0.0,
      max_distance = 15.0,
      min_distance = 0.05)
    }}
    {% endif %}
    <!--}-->

    <!-- Magnetometer {-->
    {{ components.gazebo_magnetometer_macro(
      pub_rate = 100,
      noise_density = 0.0004,
      random_walk = 0.0000064,
      bias_correlation_time = 600,
      mag_topic = mag_topic)
    }}
    <!--}-->

    <!-- Barometer {-->
    {{ components.gazebo_barometer_macro(
      baro_topic = baro_topic,
      pub_rate = 50,
      baro_drift_pa_per_sec = 0)
    }}
    <!--}-->

    <!-- Mavlink interface {-->
    {% if flight_controller == 'px4' %}
    {{ components.px4_mavlink_interface_macro(
      namespace = namespace,
      instance = instance,
      imu_topic = imu_topic,
      mag_topic = mag_topic,
      baro_topic = baro_topic,
      lidar_topic = lidar_topic)
    }}
    {% elif flight_controller == 'ap' %}
    {{ components.ardupilot_mavlink_interface_macro(
      namespace = namespace,
      instance = instance,
      imu_topic = imu_topic)
    }}
    {% endif %}
    <!--}-->

    <!-- IMU {-->
    <!-- NOTE: IMU has to be last, otherwise the simulation is extremely slow! -->
    {{ components.gazebo_imu_macro(
      imu_name = 'imu',
      parent_link = root,
      imu_topic = imu_topic,
      gyroscope_noise_density = 0.00018665,
      gyroscope_random_walk = 0.000038785,
      gyroscope_bias_correlation_time = 1000.0,
      gyroscope_turn_on_bias_sigma = 0.0087,
      accelerometer_noise_density = 0.00186,
      accelerometer_random_walk = 0.006,
      accelerometer_bias_correlation_time = 300.0,
      accelerometer_turn_on_bias_sigma = 0.1960,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    <!--}-->
    <!--}-->

    {# ================================================================== #}
    {# ||                  optional sensor definitions                 || #}
    {# ================================================================== #}

    {# Ground truth {--> #}
    {% if enable_ground_truth %}
    {{ components.gazebo_ground_truth_macro(
      namespace = namespace,
      odometry_sensor_name = 'ground_truth',
      parent_link = root,
      topic_name = 'ground_truth',
      noise = 0,
      frame_name = 'world',
      update_rate = 100,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = 0,
      yaw = 0,
      x_offset = x_offset,
      y_offset = y_offset,
      z_offset = z_offset,
      roll_offset = roll_offset,
      pitch_offset = pitch_offset,
      yaw_offset = yaw_offset)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ======================= rangefinder sensors ====================== #}


    {# ========================== LIDAR sensors ========================= #}

    {# livox {--> #}
    {% if enable_livox %}
    {{ components.livox_lidar_macro(
      namespace = namespace,
      parent_link = root,
      sensor_name = 'livox_up',
      rot_freq = 15,
      noise = 0.01,
      max_range = 40,
      x = livox_sensor_x,
      y = livox_sensor_y,
      z = livox_sensor_z,
      roll = 0,
      pitch = 0,
      yaw = 0,
      lasers = 30)
    }}

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'livox_up_imu',
      parent_link = 'livox_up',
      topic_name = namespace + '/livox_up/imu',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = 0.0,
      pitch = 0.0,
      yaw = 0.0)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ========================== camera sensors ======================== #}

    {# realsense front {--> #}
    {% if enable_vio %}
    {{ components.realsense_d435_macro(
      namespace = namespace,
      camera_name = 'front_rgbd', camera_suffix='',
      parent_link = root,
      realistic = 1,
      update_rate = 60,
      x = camera_x,
      y = camera_y,
      z = camera_z,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}

    {{ components.imu_sensor_macro(
      namespace = namespace,
      sensor_name = 'front_rgbd_imu',
      parent_link = 'front_rgbd',
      topic_name = namespace + '/front_rgbd/imu/data',
      update_rate = 200,
      x = 0,
      y = 0,
      z = 0,
      roll = -1.5708,
      pitch = 0,
      yaw = -1.5708)
    }}
    {% endif %}
    {# <!--}--> #}

    {# ========================== VIO sensors ======================== #}

    {# VIO (classic) {--> #}
    {% if enable_vio %}
    {{ components.vio_macro(
      namespace = namespace,
      sensor_name = 'vio',
      parent_link = root,
      camera_rate = 120,
      imu_rate = 200,
      x = vio_x,
      y = vio_y,
      z = vio_z,
      roll = 0,
      pitch = 0,
      yaw = 0)
    }}
    {% endif %}
    {# <!--}--> #}
  </model>
</sdf>
